<template>
  <div id="tabBar">
    <Tabbar v-model="active"
            route>
      <TabbarItem to="/home"
                  name="home"
                  icon="home-o">主页</TabbarItem>
      <TabbarItem to="/about"
                  name="about"
                  icon="search"
                  dot>关于</TabbarItem>
      <TabbarItem to="/community"
                  name="community"
                  icon="friends-o"
                  info="5">社区</TabbarItem>
      <TabbarItem to="/profile"
                  name="profile"
                  icon="setting-o"
                  info="20">我的</TabbarItem>
    </Tabbar>
    <keep-alive>
      <router-view />
    </keep-alive>
  </div>
</template>
<script>
import { Tabbar, TabbarItem } from "vant";
export default {
  name: "tabBar",
  components: {
    Tabbar,
    TabbarItem
  },
  data() {
    return {
      active: "home"
    };
  }
};
</script>