<template>
  <div class="home">
    <img alt="Vue logo"
         src="@/assets/logo.png" />
    <Button type="default">默认按钮</Button>
    <Button icon="star-o"
            type="primary" />
    <router-link to="/home/details"
                 class="details">details</router-link>
  </div>
</template>

<script>
import { Button, Notify } from "vant";
export default {
  name: "home",
  components: { Button, Notify },
  mounted() {
    console.log(this.$store.getters.userInfo);
    this.$store.dispatch("user/login", { name: "bo", age: 10 });
    Notify({
      message: "通知内容",
      duration: 1000,
      background: "#1989fa"
    });
  }
};
</script>
<style lang="stylus">
.details
  font-size 1rem
</style>


